a{
	text-decoration: none;
}

h2{
	margin-right: 20px;
}

.lijst1{
	text-align: center;
	padding: 10px;
	border: 1px solid black;
	width: 200px;
	margin: 0 auto;
	cursor: pointer;

}

.lijst2{
	text-align: center;
}

.listitems{
	text-align: center;

}

.remy{
	display: flex;
	align-content: center;
    justify-content: center;
    align-items: flex-start;
}
.flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

.task{
	padding: 10px;
	border: 1px solid black;
}

.icons{
	text-align: center;
}

.far{
	transition: 0.3s;	
}

.item{
	text-align: center;
	margin: 0 auto;
	align-content: center;
    border: solid black 2px;
    width: 30%;
    margin-left: 10px;
    padding: 0 20px 20px;

}

.far:hover {	
}

.fas:hover {
}

.mr{
	margin-right: 10px;
}
.status{
	width: 12px;
	height: 12px;
	border-radius: 100px;
	display: inline-block;
}

.red{
	background-color: red;
}

.orange{
	background-color: orange;
}

.green{
	background-color: green;
}
